<% include ../common/header.ejs %>
<div style="border-top:1px solid #b7744a;background:#fff;">
	<div class="page_nav">
		<a href="/introduction">公司简介</a>
		<a href="news">媒体报道</a>
		<a class="current" href="aboutus">联系我们</a>
	</div>
</div>
<div class="container clearfix">
	<div class="aboutus_part">
		<h2 class="aboutus_part_h2">客服服务：</h2>
		<p class="aboutus_part_p">&nbsp;&nbsp;&nbsp;&nbsp;客服电话：0571-86539195<br />
			&nbsp;&nbsp;&nbsp;&nbsp;客服邮件：service@qjdchina.com<br />
			&nbsp;&nbsp;&nbsp;&nbsp;微信号：qjd_service</p>
	</div>
	<div class="aboutus_part">
		<h2 class="aboutus_part_h2">媒体报道与采访：</h2>
		<p class="aboutus_part_p">&nbsp;&nbsp;&nbsp;&nbsp;如果您希望与我们进行媒体合作，或有采访需求，请发送邮件至: wangsihao@qjdchina.com</p>
	</div>
	<div class="aboutus_part">
		<h2 class="aboutus_part_h2">微信订阅号：</h2>
		<p class="aboutus_part_p">&nbsp;&nbsp;&nbsp;&nbsp;获取关于仟金顶的最新信息与资讯<br />
			<img src="/module/issue/aboutus/imgs/tcode.png" width="198" height="198" />
		</p>
	</div>
	<div class="aboutus_part">
		<h2 class="aboutus_part_h2">公司地址：</h2>
		<p class="aboutus_part_p">&nbsp;&nbsp;&nbsp;&nbsp;杭州市滨江区秋溢路289号绿城电商体验馆5楼<br />&nbsp;&nbsp;&nbsp;&nbsp;邮编: 310000<br />
		<div style="width:902px;height:352px;border:#ccc solid 1px;font-size:12px" id="map"><img src="/module/issue/aboutus/imgs/map.jpg" width="902" height="352" /></div>
			
		</p>
	</div>
</div>
<% include ../common/footer.ejs %>