<% include ../common/header.ejs %>
<!--       首页注册和焦点图            -->
<div class="container errorBox clearfix">
	<div class="errorIn">
		<a href="javascript:history.back(-1)" class="error_back error_btn"></a><a href="/index" class="error_index error_btn"></a>
	</div>
</div>
<% include ../common/footer.ejs %>
