<% include ../common/header.ejs %>
<div style="border-top:1px solid #b7744a;background:#fff;">
	<div class="page_nav">
		<a class="current" href="/introduction">公司简介</a>
		<a href="news">媒体报道</a>
		<a href="aboutus">联系我们</a>
	</div>
</div>
<div class="container">
	<div class="introduction_part">
		<h2 class="introduction_part_h2">什么是仟金顶：</h2>
		<p class="introduction_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟金顶网络科技有限公司为网筑集团全资子公司，凭借集团成熟的供应链资源及管理经验，针对建材与楼宇设备产业客户融资需求，构建互联网供应链金融平台，运用互联网技术为供应链提供金融解决方案，促进供应链各环节流畅运转。</p>
	</div>
	<div class="introduction_part">
		<h2 class="introduction_part_h2">仟金顶的使命：</h2>
		<p class="introduction_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟金顶在建材供应链行业深耕多年，利用对供应链的掌控以及所处的核心地位，与银行以及其他金融机构合作，以更贴近广大经销商实际需求的视角，为建材及楼宇设备制造商及其上下游客户提供定制化供应链金融解决方案及供应链管理平台，从而为客户减少业务运营的资金压力，增加业务运营效率，令供应链各环节运转更安装、高效、透明。
		</p>
	</div>
	<div class="introduction_part">
		<h2 class="introduction_part_h2">核心价值：</h2>
		<p class="introduction_part_p">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.专业-贴近供应链行业视角<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.安心-保障贸易订单及时顺畅<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.便捷-线上操作最快15天放款<br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.透明-交易过程信息实时更新
		</p>
	</div>
	<div class="introduction_part">
		<h2 class="introduction_part_h2">愿景：</h2>
		<p class="introduction_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构建创新的供应链金融服务平台，不断开发创新的供应链金融服务产品，成为保证供应链高效运转的资金高速公路。</p>
	</div>
</div>
<% include ../common/footer.ejs %>