<% include ../common/header.ejs %>
<div style="border-top:1px solid #b7744a;background:#fff;">
	<div class="page_nav">
		<a href="/introduction">公司简介</a>
		<a class="current" href="news">媒体报道</a>
		<a href="aboutus">联系我们</a>
	</div>
</div>
<div class="container clearfix">
	<div class="news_part clearfix">
		<div class="newsPic">
			<a href="http://news.xinhuanet.com/house/hz/2015-02-06/c_1114286455.htm" target="_blank"><img src="/module/issue/news/imgs/news.png" width="246" height="165" /></a>
		</div>
		<div class="newsMain">
			<a href="http://news.xinhuanet.com/house/hz/2015-02-06/c_1114286455.htm" target="_blank"><h2 class="newsMain_h2" style="color: #333">网筑集团三位一体战略浮出水面</h2></a>
			<span class="newsMain_time">来自：新华网&nbsp;&nbsp;&nbsp;&nbsp;2015-02-10</span>
			<p class="newsMain_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网筑集团与红杉资本、易居资本联合举办“跨越•腾飞”新闻发布会，网筑集团携旗下绿城电商、屋牛电商以及仟金顶三大子公司正式亮相。 三家子公司将在网筑集团的集团化管理下协同发展，从而提升集团与自身的综合竞争力。同时，红杉资本与易居资本向网筑集团注资近6000万美元(红杉领投)，助力网筑集团全新发布的“三位一体”业务战略，共同打造基于互联网的建材产业生态圈。</p>
		</div>
	</div>
	<div class="news_part clearfix">
		<div class="newsPic">
			<img src="/module/issue/news/imgs/news1.jpg" width="246" height="165" />
		</div>
		<div class="newsMain" id="dz">
			<h2 class="newsMain_h2">仟金顶携手东芝开利空调</h2>
			<span class="newsMain_time">来自：仟金顶&nbsp;&nbsp;&nbsp;&nbsp;2015-01-23</span>
			<p class="newsMain_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年1月22日，东芝开利空调销售（上海）有限公司在东芝开利上海总部签署仟金顶公司供应链金融服务会员协议，东芝开利公司与仟金顶正式达成供应链金融服务合作。合作建立后，仟金顶公司将根据东芝开利空调销售（上海）有限公司经销渠道不同销售策略，制定低成本、可靠度高、便捷快速的多种供应链金融解决方案。</p>
		</div>
	</div>
	
	<div class="news_part clearfix">
		<div class="newsPic">
			<img src="/module/issue/news/imgs/news2.jpg" width="246" height="165" />
		</div>
		<div class="newsMain" id="xa">
			<h2 class="newsMain_h2">杭州西奥与仟金顶达成战略合作</h2>
			<span class="newsMain_time">来自：仟金顶&nbsp;&nbsp;&nbsp;&nbsp;2015-02-05</span>
			<p class="newsMain_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年2月4日，杭州西奥电梯有限公司与仟金顶就供应链金融服务达成深度合作。杭州西奥公司财务总监戴信龙正式签署了仟金顶公司会员协议。本次签约距离仟金顶第一次与杭州西奥总裁周俊良介绍供应链金融服务，仅仅过去14天。在短短两周时间内，西奥公司充分认可仟金顶金融服务对其公司业务承接能力及效率的提升，并积极推进合作框架落定，最终促成了双方合作迅速达成。
			</p>
		</div>
	</div>

	<div class="news_part clearfix" id="bl">
		<div class="newsPic">
			<img src="/module/issue/news/imgs/news3.jpg" width="246" height="165" />
		</div>
		<div class="newsMain">
			<h2 class="newsMain_h2">宾利电梯与与仟金顶达成战略合作</h2>
			<span class="newsMain_time">来自：仟金顶&nbsp;&nbsp;&nbsp;&nbsp;2015-03-13</span>
			<p class="newsMain_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年3月12日，宾利电梯（中国）有限公司签署仟金顶公司供应链金融服务会员协议，成为仟金顶供应链金融服务合作品牌。本次宾利电梯在与仟金顶公司的合作，仟金顶将基于宾利电梯公司与网筑集团多维度的合作，为其定制更灵活的供应链金融服务解决方案，帮助宾利电梯公司更有效的促进营销，增加品牌影响力。

			</p>
		</div>
	</div>
</div>
<% include ../common/footer.ejs %>