<% include ../common/header.ejs %>
<!--       首页注册和焦点图            -->
<div class="product_ad">
</div>
<div class="container product clearfix">
	<div class="product_part">
		<h2 class="product_part_h2">什么是仟金宝：</h2>
		<p class="product_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟金宝作为仟金顶供应链领域推出的第一款金融服务产品，其合作对象和融资对象为全国建材品牌及其授权经销商。仟金宝针对经销商自身流动资金有限，在承接项目中需要采购材料设备产生的资金压力，而推出的供应链金融解决方案。基于经销商承接单个项目的业务合同，以及相应的设备材料采购资金需求，提供合同金额一定比例的资金融资服务。</p>
	</div>
	<div class="product_part">
		<h2 class="product_part_h2">仟金宝的作用：</h2>
		<p class="product_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;仟金宝管理与项目订单相关的应收款及应付款，帮助经销商会员利用最小的资金成本和最大程度利用手中的现金，提高业务承接能力。<br />
		具体业务中，当经销商会员获得符合仟金宝服务条件的项目业务合同后，与仟金顶公司签订仟金宝服务相关协议，即可获得仟金顶公司最高达到合同额50%的融资服务，帮助经销商会员全款支付品牌厂商，以保证厂商及时出货将材料设备运送至指定项目。
		</p>
		<p class="product_part_p">
			<img src="./module/issue/product/imgs/product_1.jpg" width="932" height="260" />
		</p>
	</div>
	<div class="product_part">
		<h2 class="product_part_h2">案例分享：</h2>
		<p class="product_part_p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州市某品牌经销商，在总经理的领导下各类项目合同源源不断，伴随着业务量的不断提升，预期收益越来越多，可每次大量的垫资让公司的资金日益紧张，目前公司越来越多优质客户项目因为支付条件和前期的垫资压力而无奈痛失。直到后来公司的业务开始使用仟金宝，最高合同额50%的资金支持让公司在等量的自有资金下能够完成较原来3-5倍的项目量，大大提高的预期理论以及在市场地位。</p>
	</div>
	<div class="product_part">
		<h2 class="product_part_h2">如何申请：</h2>
		<p class="product_part_p" style="padding-left: 30px">
			一、注册成为仟金顶会员<br />
			二、提供公司及业务授信资料<br />
			三、确定业务授信方案<br />
			四、办理贷款手续并收到贷款<br />
			五、按协议按时还款<br />
			六、累积企业信誉，获得更优服务
		</p>
		<p class="product_part_p">
			<img src="./module/issue/product/imgs/product_2.jpg" width="807" height="146" />
		</p>
	</div>
</div>
<% include ../common/footer.ejs %>
