<% include ../common/header.ejs %>
<!--       首页注册和焦点图            -->
<div style="border-top:1px solid #b7744a;background:#fff;">
	<div class="page_nav">
		<a class="current" href="/wiki">帮助中心</a>
		<a href="/legal">法律声明及隐私条款</a>
		<a href="/protocol">注册协议</a>
	</div>
</div>
<div class="container wiki clearfix">
	
	<div class="wiki_part" id="wiki_part">
		
	</div>
	
</div>
<% include ../common/footer.ejs %>