 <ul class="userMenu fl">
	<li><a href="/user/info" class="toUserInfo">企业信息</a></li>
	<li><a href="/loan/list" class="toLoanApply">我的贷款</a></li>
	<li><a href="/user/partners" class="toUserPartners">合作厂家</a></li>
</ul>