<% include ../common/header.ejs %>
<div class="container clearfix">
	<div id="articleInfo" class="articleInfo fl">
		<h3 id="title" class="articleInfo_title"></h3>
		<span id="date" class="articleInfo_date"></span><span id="kind" class="articleInfo_kind"></span><span id="author" class="articleInfo_author"></span>
		<div id="content" class="articleInfo_content"></div>
	</div>
	<% include ../common/kind.ejs %>
</div>
<% include ../common/footer.ejs %>
