<% include ../common/header.ejs %>
<div class="container clearfix">
	<div id="articleBox" class="articleBox fl">

	</div>
	<% include ../common/kind.ejs %>
</div>
<% include ../common/footer.ejs %>
