<% include ../common/header.ejs %>

<div class="container clearfix">
	<div id="articleBox" class="articleBox fl">
    <div class="noticeAd">
    ============================================================================<br />
         站点建设中，文章正快速完善...持续关注吧!!! 技术新Q群：435485569<br />
    ============================================================================
    </div>
	</div>
	<% include ../common/kind.ejs %>
</div>
<% include ../common/footer.ejs %>
