.corpName{
	font-size: 24px;
	color: #4d4d4d;
	padding: 20px;
	margin-bottom: 20px;
	border-bottom:1px solid #e6e6e6;
}

.userInfo_label{
	display: block;
	font-size: 14px;
	width: 100%;
	padding: 4px 20px;
}

.userInfo_label_title{
	font-size: 16px;
	margin-top: 20px;
}

.userInfo_text{
	width: 100px;
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
	font-size: 14px;
}

.userInfo_value{
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
	font-size: 14px;
}
