.wiki_item{

}

.wiki_item_h3{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}

.wiki_item_h4{
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	position: relative;
}

.wiki_item_h4 tt{
	width: 10px;
	height: 6px;
	margin-top: 12px;
	background: url( /module/issue/wiki/imgs/arrowDown.png) no-repeat;
	position: absolute;
	right: 10px;
}

.wiki_item_h4_open tt{
	background: url( /module/issue/wiki/imgs/arrowUp.png) no-repeat;
}

.wiki_item_h4:hover{
	background: #f9f9f9;
}

.wiki_item_p{
	line-height: 30px;
	padding: 10px 3px;
	display: none;
	background: #f1f1f1;
}