<% include ../common/header.ejs %>
<div class="main userManager loanApplyFailed clearfix">
	<div class="content" style="background: url( /module/loan/failed/imgs/loanApplyFailedAD.png ) 0 80px no-repeat;">
		<div class="loanApplyFailedPrompt">
			非常抱歉，我们的业务还未覆盖到您所在的地区。<br />
			我们正不断扩大服务区域，努力尽快为您提供服务。<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>
		</div>
		<div class="loanApplyHandler clearfix">
			<a class="btnGreen fl" href="/loan/list">我的贷款</a>
			<a class="btnGreen fr" href="/">返回首页</a>
		</div>
	</div>
</div>
<% include ../common/footer.ejs %>