<% include ../common/header.ejs %>
<div class="main userManager loanList clearfix ">
    <% include ../common/userMenu.ejs %>
    <div class="content">
		<div class="loanList_nothing hide" id="loanList_nothing">
			<a class="btnGreen" style="width: 200px;" href="/loan/apply">我要贷款</a>
		</div>
		<div id="loanList_items" class="loanList_items hide">
			<div class="clearfix loanListTitle ">
				<h4 id="userName" class="userName"></h4>
				<div class="loanListToApply">
					更多贷款需求，请点击&nbsp;&nbsp;&nbsp;<a href="/loan/apply" class="btnGreen ">我要贷款</a>
				</div>
			</div>
			<table class="loanList_grid" >
				<thead>
					<tr>
						<th>项目名称</th>
						<th>合作厂家</th>
						<th>品类</th>
						<th>贷款金额</th>
						<th>贷款进度</th>
					</tr>
				</thead>
				<tbody id="loanListGrid" >
					
				</body>
			</table>
			
		</div>
    </div>
</div>
<% include ../common/footer.ejs %>