<% include ../common/header.ejs %>
<div class="main userManager loanApplyStatus clearfix ">
    <% include ../common/userMenu.ejs %>
    <div class="content">
		<div class="crumbs clearfix">
			<a class="crumbsText" href="#">我的贷款</a>
			<tt class="crumbsIcon">&gt;</tt>
			<a class="crumbsText" href="#">我的贷款进度</a>
		</div>
		<div class="loanApplyStatusHeader">
			<span class="loanApplyStatusProject" id="loanApplyStatusProject"></span>
			<span class="loanApplyStatusCompany"><tt id="loanApplyStatusCity"></tt>&nbsp;&nbsp;<tt id="loanApplyStatusCompany"></tt></span>
		</div>
		<div class="loanApplyStatusProgress">
			<dl class="loanApplyStatusProgressIcon clearfix">
				<dd class="loanApplyStatusProgressIconA"></dd>
				<dd class="loanApplyStatusProgressIconB"></dd>
			</dl>
			<dl class="loanApplyStatusProgressBar clearfix">
				<dt class="loanApplyStatusProgressBarPoint loanApplyStatusProgressBarA"></dt>
				<dd class="loanApplyStatusProgressBarLine loanApplyStatusProgressBar1"></dd>
				<dd class="loanApplyStatusProgressBarLine loanApplyStatusProgressBar2"></dd>
				<dt class="loanApplyStatusProgressBarPoint loanApplyStatusProgressBarB"></dt>
				<dd class="loanApplyStatusProgressBarLine loanApplyStatusProgressBar3"></dd>
				<dd class="loanApplyStatusProgressBarLine loanApplyStatusProgressBar4"></dd>
				<dt class="loanApplyStatusProgressBarPoint loanApplyStatusProgressBarC"></dt>
			</dl>
			<dl class="loanApplyStatusProgressText clearfix">
				<dd class="LASPT1 LASPT2 LASPT3 LASPT4 LASPT5 statusTime">贷款申请<br /></dd>
				<dd class="LASPT2 LASPT3 LASPT4 LASPT5 ">资料寄送<br /></dd>
				<dd class="LASPT3 LASPT4 LASPT5 LASPT3ERR statusTime">资料审核<br /></dd>
				<dd class="LASPT4 LASPT5">合同签约<br /></dd>
				<dd class="LASPT5 LASPT5ERR statusTime">成功<br /></dd>
			</dl>
		</div>
		<div class="loanApplyStatusA hide">
			<div class="express">
				<div class="expressTitle">请填写快递单号，更快开始资料审核</div>
				<form class="expressMain">
					<input type="text" placeHolder="快递公司" class="inputText expressName" id="expressName" />
					<input type="text" placeHolder="快递单号" class="inputText expressNo" id="expressNo" />
					<button type="submit" class="btnGreen expressBtn">提交</button>
				</form>
				<div class="inputTextPrompt expressPrompt"></div>
			</div>
			<div class="loanApplyStatusEmail">
				请根据以下清单整理资料并邮寄至仟金顶公司总部<a href="#loanApplyAcceptInfo" style="color: #33c1b2;margin-left:20px;text-decoration: underline;">点击查看邮寄地址</a>
				<p style="color: #b3b3b3">温馨提示：邮寄不收到付，所有资料不退回，重要资料请备份。</p>
			</div>
			<div class="loanApplyHandler clearfix">
				<a class="btnGreen fl" href="/download/qjdchinaLoanInfo.jpg" target="_blank">保存此说明页</a>
			</div>
			<table class="loanApplySuccessGrid">
				<thead>
					<tr>
						<th width="30">类目</th>
						<th width="30">序号</th>
						<th>资料名称</th>
						<th width="300px;">资料要求</th>
						<th width="30">份数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="loanGrid_type" rowspan="14">公司资信材料</td>
						<td class="alignCenter">01</td>
						<td>企业简介</td>
						<td>简要描述企业的发展历史、经营特色、经营品种、内部管理模式等。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">02</td>
						<td>营业执照正副本</td>
						<td>复印件，并加盖公章。</td>
						<td class="alignCenter">3</td>
					</tr>
					<tr>
						<td class="alignCenter">03</td>
						<td>组织机构代码证正副本</td>
						<td>复印件，并加盖公章。</td>
						<td class="alignCenter">3</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">04</td>
						<td>税务登记证正副本</td>
						<td>复印件，并加盖公章。</td>
						<td class="alignCenter">3</td>
					</tr>
					<tr>
						<td class="alignCenter">05</td>
						<td>开户许可证</td>
						<td>复印件，并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">06</td>
						<td>机构信用代码证</td>
						<td>复印件，并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">07</td>
						<td>贷款卡</td>
						<td>使用状态正常，复印件，并加盖公章。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">08</td>
						<td>经营场所证明</td>
						<td>租赁合同或房产权证复印件，并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">09</td>
						<td>公司章程</td>
						<td>工商行政管理局打印，加盖工商行政局章的原件，打印时间在1个月以内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">10</td>
						<td>验资报告或资本来源证明及变更资料</td>
						<td>复印件，并加盖公章。<br />
	如有验资报告，提供验资报告（验资报告内容完整，股权信息须与公司章程核对一致）。<br />
	资本金或股权发生变更的，相关资料连续。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr>
						<td class="alignCenter">11</td>
						<td> 厂家授权证书</td>
						<td>提供原件彩色扫描件。<br />*若申请人是生产厂家，则无需提供</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">12</td>
						<td>企业、法定代表人及所有主要股东主要资产证明资料</td>
						<td>包括房地产证明、机器设备清单、存货清单、应收款清单、对外投资合同或协议等资料复印件，并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">13</td>
						<td>行业资质证书、许可证书</td>
						<td>对生产经营有特殊要求的，需提供该类资料的复印件，并加盖公章，包括有权机关颁发的生产经营资格证明和特殊行业经营许可证（如：排污许可证等），提供的资质证书应在有效期内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">14</td>
						<td>企业基本情况查询信息</td>
						<td>工商行政管理局打印，加盖工商行政局章的原件，打印时间在1个月以内。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="loanGrid_type" rowspan="7">个人资信材料</td>
						<td class="alignCenter">15</td>
						<td>主要股东身份证明</td>
						<td>主要股东身份证复印件，并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">16</td>
						<td>法人身份证</td>
						<td>复印件，并加盖公章，身份证需要在有效期内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr>
						<td class="alignCenter">17</td>
						<td>经办/授权人身份证</td>
						<td>复印件，并加盖公章，身份证需要在有效期内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">18</td>
						<td>财务联系人或者财务负责人身份证</td>
						<td>复印件，并加盖公章，身份证需要在有效期内。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">19</td>
						<td>一个网银经办人身份证及电子邮箱</td>
						<td>身份证复印件写上邮箱地址，并加盖公章，身份证需要在有效期内。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">20</td>
						<td>一个网银授权人身份证及电子邮箱</td>
						<td>身份证复印件写上邮箱地址，并加盖公章，身份证需要在有效期内。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">21</td>
						<td>法定代表人（实际控制人）及配偶个人相关资料</td>
						<td>复印件，并加盖公章，包括：（1）夫妻双方身份证；（2）户口簿；（3）结婚证/单身证明；（4）法定代表人（实际控制人）履历；（5）家庭资产证明；（6）个人信用报告查询授权书（模板）。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="nobgc loanGrid_type" rowspan="4">银行及财务材信</td>
						<td class="alignCenter">22</td>
						<td>①主要银行账户近期6个月的银行对账单。<br />②经营者个人账户中实际参与企业经营结算的6个月的对账单。</td>
						<td>打印件/存折复印件，并加盖公章。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr>
						<td class="alignCenter">23</td>
						<td>最近两个年度经审计的财务报告（含报表附注）</td>
						<td>复印件，并加盖公章，年报若未审计，年报未审计情况说明（模板），并提供会计报表，包括资产负债表、损益表</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">24</td>
						<td>最近一期会计报表</td>
						<td>月报须在申报日前三个月内，包括资产负债表、损益表，加盖公章。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr>
						<td class="alignCenter">25</td>
						<td>纳税证明</td>
						<td>上年度纳税申报表及完税证明原件，包括增值税、所得税、营业税等。纳税情况应与财务报表如不相匹配，须单独予以说明。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="nobgc loanGrid_type" rowspan="7">申请证明材料</td>
						<td class="alignCenter">26</td>
						<td>信贷业务申请书（模板）</td>
						<td>填写后打印并加盖公章的原件，要素必须填写齐全，申请人法人代表签字并加盖公章。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">27</td>
						<td>法定代表人授权委托书、被授权人签字样本用于办理银行手续（模板）</td>
						<td>如业务由授权委托人办理，填写后打印并加盖公章的原件，授权委托书需在授权有效期内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">28</td>
						<td>法定代表人授权委托书、被授权人签字样本用于办理仟金顶手续（模板）</td>
						<td>如业务由授权委托人办理，填写后打印并加盖公章的原件，授权委托书需在授权有效期内。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="alignCenter">29</td>
						<td>法定代表人证明书、签字样本（模板）</td>
						<td>填写后打印并加盖公章的原件，在有效期内。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">30</td>
						<td>董事会或有权机构成员名单和签字样本（模板）</td>
						<td>填写后打印并加盖公章的原件。</td>
						<td class="alignCenter">2</td>
					</tr>
					<tr>
						<td class="alignCenter">31</td>
						<td>董事会或有权机构同意申请授信的决议用于办理银行手续（模板）</td>
						<td>填写后打印并加盖公章的原件，非标准格式决议，其决议内容应明确授信业务品种、金额、币种、期限、授信用途，并与申请书的内容一致。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr class="trGary">
						<td class="alignCenter">32</td>
						<td>董事会或有权机构同意申请授信的决议用于办理仟金顶手续（模板）</td>
						<td>填写后打印并加盖公章的原件。</td>
						<td class="alignCenter">1</td>
					</tr>
					<tr>
						<td class="loanGrid_type" >授信用途证明材料</td>
						<td class="alignCenter">33</td>
						<td>董事会或有权机构同意申请授信的决议用于办理仟金顶手续（模板）</td>
						<td>与授信使用直接相关的项目合同。<br />*可在授信时不提供，走单笔审批流程时提供。</td>
						<td class="alignCenter">2</td>
					</tr>
				</tbody>
			</table>
			<p class="loanApplyAcceptInfo" id="loanApplyAcceptInfo">
				收件人姓名：仟金顶网络科技有限公司<br />
				地址：杭州市滨江区秋溢路289号绿城电商体验馆5楼<br />
				电话：0571-86539195<br />
				邮编：310000
			</p>
			
		</div>
		<div class="loanApplyStatusPrompt loanApplyStatusB hide">
			资料已经收到，我们的工作人员正在努力审核中，将在7个工作日内告知您审核的最终结果。<br />
			我们的客户经理可能会联系企业联系人确认相关信息，请保持通讯畅通。<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>
		</div>
		<div class="loanApplyStatusPrompt loanApplyStatusC hide">
			非常抱歉，很抱歉暂时无法为您提供资金<br />
			根据您的资料暂时不符合仟金顶供应链金融服务的申请条件，期待与您的下次合作！<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>
		</div>
		<div class="loanApplyStatusPrompt loanApplyStatusD hide">
			恭喜，您的资料已经通过审核<br />
			客户经理将在3个工作日内联系您，与您沟通合约签署以及贷款服务手续办理事宜。<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>
		</div>
		<div class="loanApplyStatusPrompt loanApplyStatusE hide">
			非常抱歉，未能为您的业务提供帮助，期待下次与您合作。<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>
		</div>
		<div class="loanApplyStatusPrompt loanApplyStatusF hide">
			恭喜，您的贷款申请已经成功，享受最优质便捷的供应链金融服务！<br />
			良好的信用积累，将帮助您在仟金顶平台享受更优惠的资金服务。<br />
			<tt class="clearfix" style="height: 12px;">&nbsp;</tt>
			<p style="color: #808080;line-height: 24px;">如有疑问，您可以通过以下方式联系我们<br />
			TEL: 0571-86539195<br />
			MAIL: service@qjdchina.com</p>

		</div>
    </div>
</div>
<% include ../common/footer.ejs %>