.loanApplyFailed{
	padding: 50px;
	width: 900px;
	margin-top: 32px;
	background: #fff;
}

.loanApplyFailedPrompt{
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	margin: 30px auto;
	padding-left: 100px;
}

.loanApplyHandler{
	width: 200px;
	margin: 20px auto;
	padding-left: 100px;
}