/********** common ***********/
html{
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
}

.footer{
	margin-bottom: -60px;
	height: 100px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}

*, a{
	font-size: 12px;
	color: #4d4d4d;
	font-family: PingHei, 'Microsoft YaHei', 'Lucida Grande', 'Lucida Sans Unicode', STHeiti, Helvetica, Arial, Verdana, sans-serif ;
}

a{color: #4d4d4d;}

img{
	border: none;
}

.hide{
	display: none;
}

.show{
	display: block;
}
.noborderbtm{
	border-bottom: none;
}
.txtcenter{
	text-align: center;
}
.alignCenter{
	text-align: center;
}
.fl{
	float: left;
}

.posRelative{
	position: relative;
	overflow: hidden;
}

.fr{
	float: right;
}

.main{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.li-redplum{
	list-style-type: disc;
	list-style-position: inside;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.bgGray{
	background: #eaebea;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.main h2{
	font-size: 30px;
	color: #383838;
	text-align: center;
	font-weight: 400;
}
.inav{
	height: 0px;
	border-top: 1px solid #aaa;
}
.arrowl40{
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-left: 34px solid #fff;
	width: 0;
	height: 0;
	display: inline-block;
}
.overHide{
	overflow: hidden;
}
/********** topnav ***********/
.topnav{
	height: 35px;
	background-color: #0d132d;
	
}

.topnav *{
	color: #b9bbbf !important;
}
.topnav .third li{
	width: 20px;
	height: 30px;
	float: left;
	margin: 0 5px;
}

.topnav .third li a{
	width: 20px;
	height: 30px;
	display: block;
}

.topnav .third li a.qq{
	background-position: 2px 10px;
}

.topnav .third li a.wx{
	background-position: -21px 10px;
}

.topnav .third li a.wb{
	background-position: -41px 10px;
}

.topnav .link{
	line-height: 34px;
	padding: 0px 8px;
}

.topnav .icon_a{
	width: 2px;
	height: 20px;
}

.topnav .icon_b{
	width: 2px;
	height: 30px;
}

.toUserCenter{
	position: relative;
	display: inline-block;
	height: 34px;
	width: 80px;
	display: none;
}

.toUserList{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: 350px;
	line-height: 34px;
	color: #fff;
	background: #0d132d;
	width: 98px;
	display: none;
}

.toUserList dt a{
	color: #b9bbbf !important;
	padding: 0 10px;
}

.toUserList dd{
	display: none;
	border-top: none;
	background: #0d132d;
	width: 98px;
	text-align: center;
}
.toUserList dd a{
	color: #b9bbbf;
	display: block;
	width: 98px;
}
/********** header ***********/
.header{
	height: 90px;
	background: #fff;
	border-bottom: 1px solid #aaaaaa;
}

.header .logo{
	height: 57px;
	width: 174px;
	display: block;
	margin: 18px;
}

.header .nav{
	margin-top: 30px;
}

.header .nav li{
	margin: 0 27px;
	float: left;
	height: 40px;
}

.header .nav a{
	display: block;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	color: #5e5d5d;
	text-align: center;
}

.header .nav a:hover{
	color: #f33d47;
}

.header .nav .current{
	
}

.header .nav .current a{
	color: #f33d47;
}

.container{
	padding: 10px 50px;
	width: 900px;
	margin-top: 32px;
	background: #fff;
	margin: 32px auto;
}

.page_nav{
	width: 960px;
	margin: 0 auto;
	height: 43px;
}

.page_nav a{
	height: 40px;
	line-height: 40px;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0 10px;
	border-bottom: 3px solid #fff;
}
.page_nav a.current, .page_nav a:hover{
	border-bottom: 3px solid #b7744a;
}

/********** server ***********/
.server{
	background: #8d8e8e;
	height: 40px;
}

.server main ul{
	margin: 0 auto;
}

.server li{
	float: left;
	line-height: 16px;
	color: #fff;
	margin: 12px 0;
	padding: 0  10px;
	border-right: 1px solid #fff;
}
.server li a{
	color: #fff;

}
.server li.noBorder{
	border-right: none;
}
.server li.phone{
	float: right;
	border-right: none;
}

/********** copyright ***********/

.copyright{
	background: #5e5d5d;
	height: 60px;
}
.copyright p{
	line-height: 60px;
	color: #8d8e8e;
	margin-right: 80px;
	text-align: center;
}


/*****************************/
.btnGreen, .btnYellow, .btnWhite{
	display: inline-block;
	width: 80px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	color: #fff;
	background: #33c1ba;
	text-align: center;
	border: 1px solid #33c1ba;
	cursor: pointer;
}

button.btnGreen, button.btnYellow, button.btnWhite{
	line-height: 22px;
}

.btnYellow{
	background: #fbb03b;
	border: 1px solid #fbb03b;
}

.btnWhite{
	background: #fff;
	color: #33c1ba;
	
}

.btnDisabled{
	background: #afafaf;
	border: 1px solid #afafaf;
}

/*****************************/
.inputText, .input_text{
	height: 24px;
	line-height: 24px;
	width: 110px;
	padding: 0 5px;
	border: 1px solid #bdbdbd;
}

.inputTextPrompt{
	color: #f00;
}

/****************************/
.curmbs{
	height: 28px;
	margin: 10px 0;
}

.crumbsText, .crumbsIcon{
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	float: left;
	color: #fbb03b;
}
.crumbsIcon{
	margin: 0 5px;
	font-family: initial;
}

/************************************************
userManager
************************************************/
.main{
	width: 970px;
}

.userManager{
	margin: 32px auto;
}

.userName{
	font-size: 24px;
	color: #4d4d4d;
	width: 400px;
	float: left;
}

.loanListTitle{
	margin: 20px 0 30px 0;
}
/************************************************
userManager - userMenu
************************************************/
.userMenu{
	width: 188px;
}

.userMenu li{
	height: 100px;
	width: 188px;
}

.userMenu li a{
	display: block;
	height: 40px;
	line-height: 40px;
	width: 180px;
	padding-top: 60px;
	background: url( ./imgs/userMenuBg.png) center no-repeat #fff;
	text-align: center;
	font-size: 14px;
	color: #4d4d4d;
}

.userMenu li a:hover, .userMenu li a.current{
	background-color: #f4f5f4;
}

.userMenu li a.toUserInfo{
	background-position: center 30px;
}

.userMenu li a.toUserInfo:hover{
	background-position: center -272px;
}

.userMenu li a.toLoanApply{
	background-position: center -70px;
}

.userMenu li a.toLoanApply:hover{
	background-position: center -372px;
}

.userMenu li a.toUserPartners{
	background-position: center -170px;
}

.userMenu li a.toUserPartners:hover{
	background-position: center -472px;
}

.userInfo .toUserInfo{
	background-position: center -272px;
	background-color: #f4f5f4;
}

.loanList .toLoanApply{
	background-position: center -372px;
	background-color: #f4f5f4;
}

.userPartners .toUserPartners{
	background-position: center -472px;
	background-color: #f4f5f4;
}

/************************************************
userManager - content
************************************************/
.content{
	background: #fff;
	width: 720px;
	float: right;
	min-height: 260px;
	padding: 20px;
}

/************************************************
зЂВс - register
************************************************/
.register{
	width: 250px;
	height: 290px;
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -140px;
	overflow: hidden;
	z-index: 99;
	padding: 15px;
	border: 4px solid #e6e6e6;
	display: none;
}

.register_title{
	font-size: 16px;
	text-align: center;
	height: 34px;
	line-height: 34px;
	margin-bottom: 10px;
}

.register_close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url( ./imgs/close.png ) center no-repeat;
	cursor: pointer;
}

.register_label{
	display: block;
	height: 26px;
	padding:0 26px;
	background: url( ./imgs/register.png ) 0 -200px no-repeat;
}

.register_prompt{
	height: 20px;
	line-height: 20px;
	color: #f33d47;
	text-align: right;
	display: block;
	margin-right: 28px;
}

.register_label_phone{
	background-position: 0 0;
}

.register_label_smsCode{
	background-position: 0 -26px;
}

.register_label_password{
	background-position: 0 -52px;
}

.register_label .input_text{
	width: 184px;
}

.register_label .btnGreen{
	width: 202px
}

.register_label_smsCode .input_text{
	width: 85px;
	margin-right: 5px;
}

.btnSmsCode{
	border: 1px solid #a0e2df;
	width: 90px;
	height: 26px;
	color: #33cdb9;
	background: #fff;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.register_label_agree{
	padding: 20px 0 0 8px;
}

.register_label_agree_text{
	display: block;
	float: left;
	margin-top: -3px;
}

.register_link{
	color: #00b2a9;
	text-decoration: underline;
}

.register_mask{
	background: rgba( 255, 255, 255, .8 );
	background-color: #fff;
	opacity: .8;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	display: none;
}

.password_level{
	height: 20px;
	visibility: hidden;
}

.password_level dd{
	width: 31px;
	height: 7px;
	border: 1px solid #33c2b9;
	float: left;
	margin-right: 4px;
	margin-top: 5px;
}

.password_level dt{
	color: #33c2b9;
}

.password_level_weak dd{
	border: 1px solid #f33d47;
}

.password_level_weak dt{
	color: #f33d47;
}

.password_level_weak dd.password_level_a{
	background: #f33d47;
}

.password_level_well dd, .password_level_better dd{
	border: 1px solid #33c2b9;
}

.password_level_well dd.password_level_a, .password_level_well dd.password_level_b{
	background: #33c2b9;
}

.password_level_better .password_level_a, .password_level_better .password_level_b, .password_level_better .password_level_c{
	background: #33c2b9;
}

.register_password_level{
	position: absolute;
	width: 200px;
	top: 178px;
	left: 46px;
}