<!DOCTYPE HTML>
<html>
<head>
<title>TANK</title>
<link href="/stylesheets/reset.css" rel="stylesheet" />
<link href="/stylesheets/style.css" rel="stylesheet" />
<link href="/stylesheets/animate.css" rel="stylesheet" />
</head>
<body>
<header>
	<h1>HTML5 技术研究<h1>
</header>
<footer>
	<div class="statistics">2013-09-23日开始共有<b id="usernum">0</b>个玩家参与</div><h4><a href="http://jiangxiao-2000.iteye.com/" target="_blank">作者[江潇]技术博客：ITEYE<a></h4>
</footer>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="javascripts/Three.min.js"></script>
<script src="javascripts/extras/Collisions.js"></script>
<script src="javascripts/extras/CollisionUtils.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/index2.js"></script>
</html>