/******************************/
.errorBox{
	min-height: 50%;
}
.errorIn{
	height: 200px;
	background: url( ./imgs/error_bg.png ) center no-repeat;
	position: relative;
	width: 350px;
	margin: 100px auto;
}

.error_btn{
	width: 160px;
	height:  39px;
	display: block;
	float: left;
	position: absolute;
	bottom: 0px;
}

.error_back{
	background: url( ./imgs/error_back.png ) no-repeat;
}

.error_index{
	background: url( ./imgs/error_index.png ) no-repeat;
	right: 0px;
}