
.loanApplyStatusHeader{
	border-bottom: 1px solid #e6e6e6;
	height: 50px;
}

.loanApplyStatusProject{
	font-size: 24px;
	height: 40px;
	line-height: 40px;
}

.loanApplyStatusCompany{
	font-size: 14px;
	float: right;
	height: 40px;
	line-height: 40px;
}

.loanApplyStatusProgress{
	width: 550px;
	height: 100px;
	margin: 30px auto;
	position: relative;
}

.loanApplyStatusProgressIcon{
	width: 440px;
	height: 26px;
	margin: 0 auto;
}

.loanApplyStatusProgressIcon dd{
	width: 30px;
	height: 26px;
	float: left;
	margin: 0px 95px;
	background: url( ./imgs/loanApplyStatusProgressBar.png ) 0px 0px no-repeat;
}

.loanApplyStatusProgressIcon dd.loanApplyStatusProgressIconB{
	width: 30px;
	height: 26px;
	background: url( ./imgs/loanApplyStatusProgressBar.png ) -41px 0px no-repeat;
}


.loanApplyStatusProgressBar{
	width: 451px;
	height: 17px;
	margin: 0px auto 10px;
}

.loanApplyStatusProgressBarPoint{
	width: 17px;
	height: 17px;
	float: left;
	background: url( ./imgs/loanApplyStatusProgressBar.png ) center no-repeat;
}

.loanApplyStatusProgressBarA{
	background: url( ./imgs/loanApplyStatusProgressBar.png ) 0px -32px no-repeat;
}

.loanApplyStatusProgressBarB{
	background-position: -51px -32px;	/*-26px -32px*/
}

.loanApplyStatusProgressBarC{
	background-position: -51px -32px;
}

.loanApplyStatusProgressBarLine{
	width: 100px;
	height: 7px;
	float: left;
	border-bottom: 2px solid #e6e6e6;
}

.loanApplyStatusProgressText{
	width: 550px;
	margin: 0 auto;
}

.loanApplyStatusProgressText dd{
	width: 110px;
	float: left;
	text-align: center;
}

.loanApplyStatusEmail {
  text-align: center;
  line-height: 24px;
}

.loanApplySuccessGrid{
	width: 700px;
	margin: 20px auto;
	border: 1px solid #e6e6e6;
}

.loanApplySuccessGrid caption{
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.loanApplySuccessGrid thead{
	background: #e6e6e6;
}

.loanApplySuccessGrid th{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-right: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
}

.loanApplySuccessGrid .trGary td {
	background: #fafafa;
}

.loanApplySuccessGrid td.loanGrid_type{
	line-height: 16px;
}

.loanApplySuccessGrid td{
	height: 24px;
	line-height: 24px;
	border-right: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	padding: 0 5px;
}

.loanApplySuccessGrid td.nobgc {
  background: #fff;
}

.loanApplyAcceptInfo{
	width: 600px;
	margin: 15px auto;
	text-align: center;
	line-height: 28px;
}

.loanApplyHandler{
	width: 80px;
	margin: 20px auto;
}

/**************************************
loanApplyStatus - express
**************************************/
.express{
	width: 400px;
	height: 66px;
	margin: 20px auto;
}

.expressTitle{
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.expressName{
	width: 100px;
}

.expressNo{
	width: 200px;
}

.expressBtn{
	width: 60px;
}

.loanApplyStatusPrompt{
	width: 600px;
	font-size: 14px;
	margin: 20px auto;
	text-align: center;
	line-height: 28px;
}

.LASPT1{
	color: #33c1b2;
}

.acceptApply .loanApplyStatusA{
	display: block !important;
}

.acceptApply .loanApplyStatusA{
	display: block !important;
}

.acceptApply .loanApplyStatusProgressBar1{
	border-color: #33c1ba;
}

.fileApply .loanApplyStatusB{
	display: block !important;
}

.fileApply .loanApplyStatusProgressBar1, .fileApply .loanApplyStatusProgressBar2{
	border-color: #33c1ba;
}

.fileApply .loanApplyStatusProgressBarB{
	background-position: 0px -32px;;
}

.fileApply .LASPT2{
	color: #33c1b2;
}

.verifyFailed .loanApplyStatusProgressBarB{
	background-position: -26px -32px;;
}

.verifyFailed .loanApplyStatusC{
	display: block !important;
}

.verifyFailed .loanApplyStatusProgressBar1, .verifyFailed .loanApplyStatusProgressBar2{
	border-color: #33c1ba;
}

.verifyFailed .LASPT3ERR{
	color: #c1272d;
}

.verifyApply .loanApplyStatusD{
	display: block !important;
}

.verifyApply .loanApplyStatusProgressBar1, .verifyApply .loanApplyStatusProgressBar2, .verifyApply .loanApplyStatusProgressBar3{
	border-color: #33c1ba;
}

.verifyApply .loanApplyStatusProgressBarB{
	background-position: 0px -32px;;
}

.verifyApply .LASPT3{
	color: #33c1b2;
}

.applyFailed .loanApplyStatusE{
	display: block !important;
}

.applyFailed .loanApplyStatusProgressBar1, .applyFailed .loanApplyStatusProgressBar2, .applyFailed .loanApplyStatusProgressBar3, .applyFailed .loanApplyStatusProgressBar4{
	border-color: #33c1ba;
}

.applyFailed .loanApplyStatusProgressBarB{
	background-position: 0 -32px;
}

.applyFailed .loanApplyStatusProgressBarC{
	background-position: -26px -32px;
}

.applyFailed .LASPT4{
	color: #33c1b2;
}

.applyFailed .LASPT5ERR{
	color: #c1272d;
}

.applySuccess .loanApplyStatusF{
	display: block !important;
}

.applySuccess .loanApplyStatusProgressBar1, .applySuccess .loanApplyStatusProgressBar2, .applySuccess .loanApplyStatusProgressBar3, .applySuccess .loanApplyStatusProgressBar4{
	border-color: #33c1ba;
}

.applySuccess .loanApplyStatusProgressBarB, .applySuccess .loanApplyStatusProgressBarC{
	background-position: 0px -32px;;
}

.applySuccess .LASPT5{
	color: #33c1b2;
}