<% include ../common/header.ejs %>
<div class="main userManager userInfo clearfix ">
    <% include ../common/userMenu.ejs %>
    <div class="content">
		<div class="corpName" id="corpName"></div>
		<label class="userInfo_label userInfo_label_title clearfix">基本资料</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">工商注册号：</span>
			<span class="userInfo_value" id="businessId"></span>
		</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">法定代表人：</span>
			<span class="userInfo_value" id="legalPerson"></span>
		</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">身份证号：</span>
			<span class="userInfo_value" id="idCard"></span>
		</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">办公地址：</span>
			<span class="userInfo_value" id="address"></span>
		</label>
		<label class="userInfo_label userInfo_label_title clearfix">联系信息</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">联系人：</span>
			<span class="userInfo_value" id="contact"></span>
		</label>
		<label class="userInfo_label clearfix">
			<span class="userInfo_text">手机号：</span>
			<span class="userInfo_value" id="mobile"></span>
		</label>
    </div>
</div>
<% include ../common/footer.ejs %>