<% include ../common/header.ejs %>
<div class="main userManager userPartners clearfix ">
    <% include ../common/userMenu.ejs %>
    <div class="content">
		<div class="corpName" id="corpName"></div>
		
		<table class="partnersGrid">
			<thead>
				<tr>
					<th width="100">品类</th>
					<th>合作厂家</th>
					<th width="180">审核状态</th>
					<th width="120">有效期</th>
				</tr>
			</thead>
			<tbody id="partnersGrid">
				
			</tbody>
		</table>
		<a class="addNewPartner" id="addNewPartner" href="javascript:void(0)">新增合作厂家</a>
		<form class="addPartner" id="addPartner">
			<select class="partner_model" id="partnerModel"></div>
			<input type="text" id="partnerCompany" class="input_text partner_company"placeHolder="请输入合作厂家" />
			<button class="btnGreen btn_partner" type="submit">提交</button>
			<button class="btnWhite btn_partner btn_cancel" type="button">取消</button>
			<div class="partner_company_prompt"></div>
		</form>
		
    </div>
</div>
<% include ../common/footer.ejs %>