<% include ../common/header.ejs %>
<div class="container findPwd clearfix ">
    <div class="findPwd_content">
		<div class="findPwd_progress clearfix">
			<ul class="findPwd_progress_text clearfix">
				<li class="findPwd_progress_text_current">身份验证</li>
				<li class="findPwd_progress_text_current">重置密码</li>
				<li>重置成功</li>
			</ul>
			<dl class="findPwd_progress_line clearfix">
				<dt class="findPwd_progress_line_current">1</dt>
				<dd class="findPwd_progress_line_current"></dd>
				<dt class="findPwd_progress_line_current">2</dt>
				<dd></dd>
				<dt>3</dt>
			</dl>
		</div>
		<form id="resetPwd" class="findPwdBox">
			<label class="findPwd_label clearfix">
				<span class="findPwd_text">新密码：</span>
				<input type="password" id="password" maxLength="16" class="input_text" />
				<span class="findPwd_prompt findPwd_prompt_password"></span></dd>
			</label>
			<dl id="findPwd_password_level" class="password_level findPwd_password_level">
				<dd class="password_level_a"></dd>
				<dd class="password_level_b"></dd>
				<dd class="password_level_c"></dd>
				<dt id="findPwd_password_text">密码强度：无</dt>
			</dl>
			<label class="findPwd_label clearfix">
				<span class="findPwd_text">再次输入：</span>
				<input type="password" id="confirmPassword" maxLength="16" class="input_text" />
				<span class="findPwd_prompt findPwd_prompt_confirmPassword"></span>
			</label>
			<label class="findPwd_label clearfix">
				<span class="findPwd_text"></span>
				<button type="submit" class="btnGreen findPwd_label_btn">下一步</button>
			</label>
			
		</form>
    </div>
</div>
<% include ../common/footer.ejs %>