/******************************/
.code{
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 200%;
}

h1{
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
}

p{
	text-indent:2em
}

tt.space4{
	display: inline-block;
	width: 20px;
}

tt.space8{
	display: inline-block;
	width: 40px;
}

tt.space12{
	display: inline-block;
	width: 60px;
}

tt.space16{
	display: inline-block;
	width: 80px;
}
