
/********** banner ***********/
.banner{
	height: 360px;
	position: relative;
	/*background: url( ./imgs/slide/banner1.png ) center no-repeat;*/
}
.banner .slide-box,.slide-box *{
	width: 100%;
	/*height: 100%;*/
}
.banner .login-box{
	width: 100%;
}

.banner .login-box,.slide-box li{
	position: absolute;
	top:0;
	left: 0;
}
.slide-box li{
	opacity: 0;
	filter: alpha(opacity=0);
}
.slide-box li .slide-box-link{
	display: block;
	width: 100%;
	height: 360px;
}
.slide-box li div{
	background-position: center center;
	background-repeat: no-repeat;
}
.slide-box li.zIndex2{
	z-index: 2;
	opacity: 1;
	filter: alpha(opacity=100);
}
.slide-box li.zIndex3{
	z-index: 3;
}
.slide-box .slide-load{
	position: absolute;
	top:50%;
	left: 50%;
	background:url(./imgs/load.gif) no-repeat;
	opacity: 0.6;
	filter: alpha(opacity=60);
	width: 60px;
	height: 20px;
	padding-left: 40px;
	padding-top: 15px;
	margin-left: -20px;
}
.slide-box .slide-cont,.slide-box{
	position: relative;
}
.slide-pointer{
	height: 40px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 89;
}

.slide-pointer a{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
}

.slide-pointer a.slide-pointerel{
	background: #fff;
	border-radius: 10px;
	margin-top: 10px;
	opacity: .4;
}

.slide-pointer a.slide-pointerel-cur{
	opacity: 1;
}

.slide-pointer a.slide-arrow{
	color: #fff;
	font-size: 24px;
	line-height: 18px;
	font-family: initial;
	font-weight: bold;
	text-align: center;
}


.banner .login-box{
	z-index: 88;
	width: 274px;
	left: 50%;
	margin-left: 200px;
}
.slide-arrow{
	
	
}
.slide-arrow li{
	width: 12px;
	height: 18px;
	float: left;
	background:url(./imgs/slideIcon.png) left top no-repeat;
	margin:0 5px;
	cursor: pointer;
}
.slide-arrow .slide-ar-last{
	background-position: -14px 0;
}
.slide-arrow .slide-ar-i{
	background-position: -35px 5px;
}
.slide-arrow .slide-ar-i.slide-ar-act{
	background-position: 0 3px;
}
.slide-arrow .slide-ar-next{
	background-position: -24px 0;
}

.banner .login, .banner .tcode, .banner .uIndex{
	width: 246px;
	height: 310px;
	padding: 0 14px;
	margin-top: 30px;
	background: #eaf5fc;
	background: rgba(236,243,254,.9);
	border-radius: 14px;
	overflow: hidden;
}
.banner .loginwrap{
	
}
.lerror3{
	margin-top: 10px !important;
	height: 340px !important;
}
.login .login-b-top{
	height:220px;
	clear: both;
}
.login.lerror3 .login-b-top{
	height: 270px;
}
.login.lerror3 .thirdBox{
	margin-top: 10px !important;
}
#icode_box{
	height: 41px;
	display: none;
}
#icode_box .icode{
	background-position: -58px -183px;
}
.login.lerror3 #icode_box{
	display: block;
}
#icode_box .icode-img{
	height: 100%;
	margin-right: 6px;
}
#icode_box .icode-img img{
	width: 100px;
}
.banner  .qrcode{
	width: 83px;
	height: 36px;
	display: block;
	clear: both;
	margin-bottom: 0 !important;
	margin-right: -14px;
	background: url( ./imgs/login.png ) top left no-repeat;
}
.loginPro,#prolerror{
	clear: both;
	padding-left: 20px;
	background: url( ./public/imgs/errIcon.png) 0 2px no-repeat;
	color: red !important;
	line-height: 18px;
	margin-bottom: 5px;
}

.banner .login .textin{
	width: 242px;
	height: 38px;
	border: 1px solid #8d8e8e;
	clear: both;
	margin-bottom: 11px;
	background: url( /public/imgs/register.png ) no-repeat #fff;
}

.banner .login .username{
	background-position: 5px 6px;
}

.banner .login .password{
	background-position: 5px -46px;
}
.banner .login .icode{
	width: 130px;
}
.banner .login .textin.icode input{
	width: 95px;
}
.banner .login .textin input,.pro-login .pro-l-i input{
	width: 200px;
	height: 32px;
	margin: 3px 0px 3px 32px;
	border: none;
	line-height: 32px;
	outline: none;
	background: #fff;
}

.banner .login .hander{
	margin: 15px 0px;
	color: #454545 !important;
}

.banner .login *{
	color: #454545 !important;
}

.banner .login .btnSub,.pro-login .btnSub,.uIndex .uIndex-p4{
	width: 246px;
	height: 37px;
	background: #b8985a;
	border-radius: 15px;
	color: #fff !important;
	border: none;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}

.banner .login .thirdBox{
	margin: 15px 0px 0px;
}

.banner .login .third{
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 10px;
	background: url( ./imgs/login.png ) no-repeat;
}

.banner .login .qq{
	background-position: 0px -124px;
}

.banner .login .wx{
	background-position: -27px -124px;
}

.banner .login .wb{
	background-position: -55px -124px;
}

.banner .tcode .tcimg{
 	clear: both;
 	width: 198px;
 	height: 198px;
 	margin: 0 auto;
 }

.banner .tcode .tcinfo{
 	text-align: center;
 	line-height: 24px;
 	color: #3c3c3c;
 	font-size: 14px;
 	font-weight: bold;
 }

 .banner .tcode .qrcode{
	margin-bottom: 10px;
	background-position: 0 -144px;
}
.banner .uIndex{
	height: 300px;
	text-align: center;
}
.uIndex .uIndex-p1{
	padding-top: 25px;
	color: #0d132b;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
.uIndex .uIndex-p2{
	color: #b88d49;
	font-size: 30px;
	font-weight: bold;	

}
.uIndex .uIndex-p2 span{
	color: #b88d49;
	font-size: 42px;
	font-weight: bold;		
}
.uIndex .uIndex-p3{
	color: #0d132b;
	font-size: 18px;
	font-weight: bold;
	padding:15px 0 25px;
	height: 18px;
	line-height: 0;
}
.uIndex .uIndex-p3 span{
	display: inline-block;
	height: 16px;
	width: 35px;
	background:url(./imgs/slideIcon.png) no-repeat;
	background-position: 0px -19px;
}
.uIndex .uIndex-p5{
	padding-top: 20px;
	color: #272526;
	font-size: 16px;	
}
.uIndex .uIndex-p5 span{
	color: #a20107;
	font-size: 16px;	
}
/********** goodness ***********/
.goodness{
	height: 205px;
	padding: 40px 0 20px;
	background: url( ./imgs/goodness_bg.png );
}
.goodness-min{
	height: 160px;
	padding: 45px 0 25px;	
}
.goodness-min .main{
	width: 760px;
}
.goodness li{
	width: 250px;
	float: left;
	text-align: center;
}
.goodness-min li{
	width: 190px;
}
.goodness li .pic{
	width: 118px;
	height: 95px;
	margin: 0 auto;
	display: block;
	background: url( ./imgs/goodness.png ) center 0px no-repeat;
}

.goodness-min li .pic{
	width: 100px;
	height: 82px;
	margin: 0 auto;
	display: block;
	background: url( ./imgs/goodnessmin.png ) center 0px no-repeat;
}

.goodness li .sub{
	background: url( ./imgs/goodness.png ) center 0px no-repeat;
	background-position: center -404px;
	padding-top: 20px;
	padding-bottom: 5px;
	font-size: 24px;
	color: #383838;
}

.goodness li .ax{
	background-position: center -103px;
}

.goodness li .bj{
	background-position: center -207px;
}

.goodness li .tm{
	background-position: center -310px;
}

.goodness-min li .ax{
	background-position: center -83px;
}

.goodness-min li .bj{
	background-position: center -168px;
}

.goodness-min li .tm{
	background-position: center -252px;
}

.goodness-min li .sub{
	width: 118px;
	height: 28px;
	display: block;
	margin: 10px auto;
	font-size: 24px;
	color: #383838;
	font-weight: normal;
	background: url( /imgs/goodness.png ) center -405px  no-repeat;
}

.goodness li p{
	font-size: 14px;
	color: #5e5d5d;
	letter-spacing: 1px;
}

/********** intro ***********/
.intro{
	width: 1000px;
	margin: 0 auto;
	color: #999999;
}

.introtitle{
	height: 80px;
	line-height: 80px;
	font-size: 18px;
	text-align: center;
	color: #333;
	background: url( ./imgs/introline.png ) center repeat-x;
}

.introtitle p{
	padding: 0 90px;
	font-size: 18px;
	text-align: center;
	display: inline-block;
	background: #fff;
}

.intromain dd{
	width: 230px;
	text-align: center;
	float: left;
}

.intromaintitle{
	font-size: 18px;
	line-height: 50px;
}

.intromainp{
	font-size: 14px;
	line-height: 24px;
}
.intromain dt{
	width: 155px;
	text-align: center;
	float: left;
	font-size: 40px;
	font-family: initial;
	line-height: 140px;
}

.intromain dd .intropic{
	margin: 0 auto;
	width: 140px;
	height: 133px;
}

.intromain dd .intropic1{
	background: url( ./imgs/intro1.png ) center no-repeat;
}

.intromain dd .intropic2{
	background: url( ./imgs/intro2.png ) center no-repeat;
}

.intromain dd .intropic3{
	background: url( ./imgs/intro3.png ) center no-repeat;
}

.intromain dd .intropic4{
	background: url( ./imgs/intro4.png ) center no-repeat;
}

.intromain dd .intropic5{
	background: url( ./imgs/intro5.png ) center no-repeat;
}

.intromain dd .intropic6{
	background: url( ./imgs/intro6.png ) center no-repeat;
}
/********** flow ***********/
.flow{
	padding-top: 340px;
	height: 177px;
	background: url( ./imgs/flow.jpg ) center 90px no-repeat #f6efe7;
}
.flow  ul{
	width: 1200px;
}
.flow li{
	float: left;
	text-align: center;
	width: 250px;
	font-size: 14px;
	color: #b8995a;
	line-height: 26px;
	margin-right: 130px;

}
.flow li.flow-a{
	width: 272px;
}
/********** compare ***********/

.indexH2{
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
    color: #333;
}
.compare{
	height: 550px;
	background: url( ./imgs/compare.png) center center no-repeat #f7f7f7;
    
}

.compareDiv{
    height: 370px;
    margin: 0px auto;
    
}



.compareTableDiv{
    padding-top: 46px;
    height: 330px;
    width: 1000px;
    padding-bottom: 40px;
    margin: 0px auto;
}

.compareTableDiv .relativeDiv{
       position: relative;
       margin: 0px auto;
}

.compareTable{
    border-collapse: collapse;
    border-spacing: 0;
	margin: 0 auto;
}

.compareTable th{
    font-size:16px; 
    width: 240px;
    height: 47px;
    line-height: 42px;
    background: #e7eaee;
    border: 1px solid #ccc;
    text-align: center;
    color: #939393;
}

.compareTable td{
    width: 240px;
    line-height: 42px;
    border: 1px solid #ccc;
}

.compareTableFixed{
    position:absolute;
    border-collapse: collapse;
    border-spacing: 0;
    top: -7px;
    left: 258px;
    width: 240px;
    border: 1px solid  #f75839;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.compareTableFixed th{
    height: 54px;
    width: 240px;
    background-color: #f75839;
    line-height: 42px;
    text-align: center;
    font-size: 18px;
    color: #eaebeb;
    border: 1px;
}

.compareTableFixed td{
    font-size: 14px;
    width: 240px;
    line-height: 43px;
	height: 43px;
	height: 45px \0;
    border: 1px;

}

.compareTableFixed td .last{
    font-size: 14px;
    width: 240px;
    border: 1px;
    line-height: 43px;

}

.compareIcons{
    display: inline-block;
    text-indent: -9999px;
    background-image: url("./imgs/icon-pages.png");
}

.compareDot{
    margin-left: 50px;
    margin-right: 10px;
}

.iconSuccess{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-position: -13px -21px;
}

.iconFailed{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-position: -32px -21px;
}

.textSuccess{
     width: 120px;
     font-size: 14px;
     color: #333;
}

.textFailed{
    width: 120px;
     font-size: 14px;
}


/********** partner ***********/
.partner{
	padding: 40px 0px 20px;
}
.partner-min{
	background-color: #f8f8f8;
}
.partner-min .main{
	width: 800px;
}
.partner ul{
	padding: 30px 0;
	width: 1165px;
}
.partner-min ul{
	padding: 20px 0;
}
.partner ul.major{
	border-bottom: 1px #d0d0d0 dashed;
}

.partner ul li{
	width: 165px;
	height: 60px;
	float: left;
	margin-right: 43px;
}
.partner ul li img{
	width: 100%;
}
.partner ul.major li{
	width: 217px;
	height: 80px;
}

.partner-min ul.minor li{
	width: 124px;
	height: 45px;	
}
/********** server ***********/
.server{
	background: #8d8e8e;
	height: 40px;
}

.server main ul{
	margin: 0 auto;
}

.server li{
	float: left;
	line-height: 16px;
	color: #fff;
	margin: 12px 0;
	padding: 0  10px;
	border-right: 1px solid #fff;
}
.server li a{
	color: #fff;

}
.server li.noBorder{
	border-right: none;
}
.server li.phone{
	float: right;
	border-right: none;
}

.news {
  height: 290px;
  background: #eaebeb;
}

.news h2 {
  margin: 20px 0px;
}

.news .info {
  width: 400px;
  margin-left: 25px;
}

.news .info p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 22px;
  color: #5e5d5d;
}

.news .list {
  width: 288px;
  border-top: 1px dashed #a6a6a6;
  border-bottom: 1px dashed #a6a6a6;
  height: 137px;
  padding: 13px 10px;
  color: #5e5d5d;
  font-size: 14px;
}

.news .list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 36px;
  background: url(./imgs/newsIcon.png ) left center no-repeat;
  padding-left: 15px;
}

.news .list a {
  color: #5e5d5d;
  font-size: 14px;
}

.main{
	width: 1000px;
}
